* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(150, 212, 250);
}

h1 {
    color: black;
}

p {
    color: black;
}

.center-box {
    background-color: white;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    padding: 25px;
    padding-top: 5px;
    box-shadow: 10px 9px 5px 1px rgb(40, 61, 70);
    border-radius: 10px;
}

.text-input {
    all: unset;
    margin: 0px 5px 10px 0px;
    width: 35%;
    height: 30px;
    display: block;
    background-color: rgb(0, 241, 241);
    border-radius: 10px;
    text-indent: 10px;
    box-shadow: 3px 2px 2px 0px rgb(40, 61, 70);
    caret-color: white;
}

::placeholder {
    color: white;
}

input:focus::placeholder{
    color: transparent;
}

.btn {
    all: unset;
    background-color: indigo;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 3px 5px 5px 0px;
    text-align: left;
    color: aliceblue;
    font-weight: 650;
    box-shadow: 3px 2px 2px 0px rgb(40, 61, 70);
}

.btn:active {
    background-color: rgb(151, 88, 196);
    box-shadow: 3px 2px 2px 3px rgb(40, 61, 70);
}

.footer-div {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px 1px rgb(40, 61, 70);
}

#your-word {
    font-weight: bold;
}

#results-p {
    font-weight: bold;
    font-size: 20px;
}

.back-to-home-btn {
    all: unset;
    position: absolute;
    right: 25%;
    top: 0.85cm;
    color: rgb(0, 3, 31);
    text-decoration: underline;
    text-underline-offset: 1px;
}

#random-set-btn {
    position: absolute;
}

.table {
    border-collapse: collapse;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(216, 234, 250);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.20);
}

td {
    border-color: transparent;
}

th, td {
    border-bottom: 2px solid white;
    text-align: left;
    padding: 7px;
    padding-right: 20px;
}

#words-table tr td:nth-last-child(1) {
    width: 15%;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.del-headline-btn {
    all: unset;
    border-radius: 2px;
    background-color: inherit;
    border: none;
    padding: 7px;
    float: right;
}

.del-headline-btn:hover {
    background-color: rgb(126, 180, 228);
}

.del-headline-btn:active {
    background-color: rgb(55, 114, 165);
}

.table th {
    background-color: rgb(113, 152, 187);
    width: 5rem;
}

.table tr:hover {
    background-color: rgb(181, 209, 233);
}

.test-table {
    border-collapse: collapse;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(216, 234, 250);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.20);
}

.table thead tr th {
    background-color: rgb(148, 201, 248);
}

.table tbody tr:hover {
    background-color: rgb(186, 221, 252);
}

#words-table thead tr th:nth-last-child(1) {
    text-align: right;
}

.table tbody tr:last-of-type {
    border-bottom: 3px solid rgb(126, 180, 228);
}

.test-table thead tr th {
    background-color: rgb(148, 201, 248);
}

.test-table tbody tr:hover {
    background-color: rgb(186, 221, 252);
}

.test-table thead tr th:nth-last-child(1) {
    text-align: right;
    width: 10%;
}

.test-table tbody tr:last-of-type {
    border-bottom: 3px solid rgb(126, 180, 228);
}

.test-table tbody tr td:nth-last-child(2),
.test-table thead tr th:nth-last-child(2) {
    width: 25%;
    text-align: right;
}

.headline-btn {
    all: unset;
}

.headline-btn:hover {
    color: blue;
}

.headline-btn:active {
    color: lawngreen;
}