* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d0d0e;
}

h1 {
    color: #edf0f1;
    margin: 15px;
    margin-left: 10px;
}

p {
    color: #ffffff;
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.nav-li, .nav-a, .nav-btn {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-left: -6%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover { 
    color: #0088a9;
}

.btn {
    padding: 9px 25px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(6, 158, 218);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btn:active {
    background-color: rgba(0, 136, 169, 0.6);
}

.center-box {
    min-width: 500px;
    width: 50%;
    margin: auto;
}

.text-input {
    all: unset;
    width: 40%;
    height: 30px;
    display: block;
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 12px;
    border-radius: 10px;
    caret-color: white;
    background-color: #25282b;
    padding: 3px 10px 6px;
    color: #edf0f1;
}

label {
    color: #edf0f1;
    margin-left: 10px;
}

::placeholder {
    color: #edf0f1;
}

input:focus::placeholder{
    color: transparent;
}

.footer-div {
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    bottom: 0;
    left: 0;
    color: #edf0f1;
    font-size: 14px;
}

#your-word {
    font-weight: bold;
}

#results-p {
    font-weight: bold;
    font-size: 20px;
}

#random-set-btn {
    position: absolute;
}

#choose-new-word,
#choose-explanation {
    visibility: hidden;
}

.table {
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    margin-left: 10px;
    overflow: hidden;
    background-color: rgb(59, 64, 68);
    color: #edf0f1;
}

td {
    border-color: transparent;
}

th, td {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 7px;
    padding-right: 20px;
}

#words-table tr td:nth-last-child(1) {
    width: 15%;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.del-headline-btn, .del-pair-btn {
    all: unset;
    border-radius: 2px;
    background-color: inherit;
    border: none;
    padding: 7px;
    float: right;
}

.del-headline-btn:hover, .del-pair-btn:hover {
    background-color: rgb(38, 41, 44);
}

.del-headline-btn:active, .del-pair-btn:active {
    background-color: rgb(21, 21, 22);
}

.table thead tr th {
    background-color: rgb(38, 41, 44);
}

.table tbody tr:hover {
    background-color: rgb(43, 47, 51);
}

#words-table thead tr th:nth-last-child(1) {
    text-align: right;
}

.table tbody tr:last-of-type {
    border-bottom: 3px solid black;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    padding: 0;
    padding-left: 10px;
    color: #edf0f1;
}

.dropdown.active > .link,
.link:hover {
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 20px;
    top: calc(100% + 0,25rem);
    background-color: #3d4247;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.dropdown-btn {
    padding: 9px 25px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(6, 158, 218);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}